// Blog
.bordered {
    border: solid 1px #ebebeb;
}

.rounded {
    border-radius: 10px !important;
}

.blog-classic-wrap {
    &__item {
        border: solid 1px #ebebeb;
        border-radius: 10px !important;
    }
}

.sidebar-side {
    &__category {
        border: solid 1px #ebebeb;
        border-radius: 20px;
        padding: 15px;

        ul {
            li {
                padding: 10px 10px 0 15px;
                position: relative;
                font-size: 15px;

                &:after {
                    position: absolute;
                    left: 0;
                    font-family: FontAwesome;
                    content: "\f105";
                    transition: transform 300ms ease;
                    color: $green;
                }

                &:before {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 100%;
                    margin-bottom: 10px;
                    background: #ebebeb;
                    background: -webkit-linear-gradient(left, #ebebeb 0%, transparent 100%);
                    background: linear-gradient(to right, #ebebeb 0%, transparent 100%);
                }

                a {
                    color: #002e5d;
                    font-weight: bold;

                    &:hover {
                        color: $green;
                    }

                    span {
                        position: absolute;
                        right: 0;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}